### Series 1D

In [1]:
import pandas as pd

In [3]:
series1 = pd.Series ([1, 2], index = ['a', 'b'])

In [4]:
series1.values

array([1, 2], dtype=int64)

In [6]:
series1['a']  #get values by index
series1[['b','a']]

b    2
a    1
dtype: int64

In [7]:
series1.index

Index(['a', 'b'], dtype='object')

In [8]:
series1.name

In [9]:
series1.index.name

In [10]:
series2 = series1.unique()

### Dataframe 2D

In [11]:
dict1 = {'state': ['Ohio', 'CA'], 'year': [2000, 2010]}

In [12]:
df1 = pd.DataFrame(dict1)

In [14]:
df1 = pd.DataFrame(dict1, index = ['row1', 'row2'])

In [15]:
df1 = pd.DataFrame(dict1, columns = ['year', 'state'])

In [16]:
dict1 = {'col1': {'row1': 1, 'row2': 2}, 'col2': {'row1': 3, 'row2': 4} }

In [17]:
df1 = pd.DataFrame(dict1)

In [18]:
df1

      col1  col2
row1     1     3
row2     2     4

In [19]:
df1.columns

Index(['col1', 'col2'], dtype='object')

In [20]:
df1.index

Index(['row1', 'row2'], dtype='object')

In [21]:
df1.columns.name

In [22]:
df1.index.name

In [23]:
df1.T

      row1  row2
col1     1     2
col2     3     4